language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "5"
  - "4.2"
# cover around 90% of the node_js version usage
# uncomment and edit the following line if your project needs to run something other than `rake`:
script: gulp buildSDK
before_script:
  - npm install
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
addons:
    code_climate:
        repo_token: f1e9e96a2125b6e278aeed6df6091fa0fd1e04d5a4b0685843a16c25f9b912f2
notifications:
  slack: tradable:XOmWzsyXwAqK3jxRZaESB0ei
after_success:
  - bash <(curl -s https://codecov.io/bash)